[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "third_party/cuSten"]
	path = third_party/cuSten
	url = https://github.com/munstermonster/cuSten.git
